
                <!-- Home -->
<div class="container-fluid">
  <div class="row" style="position: relative;">
         <!-- ==================left section ================= -->
                <!-- Home -->
    <div class="container-fluid" id="about">
      <div class="row header">
         <div class="bg" style="background-image: url('images/slider-about.png');">
            <div class="grad">
               <center><h1 class="animated fadeInDown">About Poland</h1></center> 
            </div>
         </div>
      </div>
    </div>       
    <div class="container-fluid life">
      <div class="row">
        <div class="col-xs-12 left why-poland wow fadeInUp" style="margin: 0">
          <p>ABB Group was created with you –mobile students - in mind. Your numbers have been increasing on a global scale. You are well aware of the advantages of gaining an academic degree abroad and establishing international contacts, which can be of benefit in professional life.<br><br>

              ABB Group understands that studying in Europe is a great start into the future. Therefore we have created a portal where you can find everything you need to know about studying and living in Poland. You can browse presentations of our Universities, choose a field of study, as well as read the opinions of other international students who have already taken up the challenge and started their education in Poland. ABB Group offers a variety of courses: cheaper, more expensive and those which will satisfy even the most demanding students.<br><br>

              Here, you can also familiarize yourself with Polish history, culture or everyday life. If you have just started thinking of coming to Europe, have a look at our tourist section. We are positive that the natural riches of Poland will make you choose it as your destination country.<br><br>

              ABB Group is the only organization promoting both the Polish higher education and the country itself on a global scale. The program works with professional recruitmtent agents in many European, Asian, Australian and Middle Eastern countries. If you come to Poland via our portal, you will meet students from all over the world. We guarantee that your entire trip to study in Poland will be organized in a most professional manner.<br><br>

              Do not worry about being alone in Poland. We have our own overseas student centres in many academic cities, like Warsaw, Krakow, Poznan, Lodz, Lublin or Sopot. We guarantee professional and modern service, based on the experience and expertise of our staff. We will guide you through a University’s enrollment process and help you get a student visa in the Polish consulate in your country. You can depend on us when it comes to other formalities on arrival, including organizing a Stay Card that gives you permission to work, finding accommodations, or assisting you to find work.
             <br><br>
              image
              ABB Group is the biggest program of this kind in the country, joining promotional marketing with effective student recruitment. We have the recommendation of the Polish Academy of Science (PAN) and an ISO certificate. ABB Group is financed by the European Union Innovative Economy Program.


              </p>
        </div>
      </div>
    </div> 
  
     </div>
   </div>
</div>  
