
                <!-- Home -->
<div class="container-fluid">
  <div class="row" style="position: relative;">
         <!-- ==================left section ================= -->
                <!-- Home -->
    <div class="container-fluid" id="life">
      <div class="row header">
         <div class="bg" style="background-image: url('images/life.png');">
            <div class="grad">
               <h1 class="animated fadeInUp">Life in Poland</h1>
            </div>
         </div>
      </div>
    </div>       
    <div class="container-fluid life">
      <div class="row">
        <div class="col-sm-6 col-xs-12 left why-poland wow fadeInLeft" style="margin: 0">
           <p>
                Poland is located in the middle of Europe. It links East and West not only geographically but also culturally. The country’s territory is 322,575 sq km; inhabited by 38 million people. Poland is a member of the European Union (EU), the North Atlantic Treaty Organization (NATO) and the United Nations (UN).<br><br>

                Poland is a dream country for those who love tourism. One day you can admire the sunrise on the coast of the Baltic Sea and another watch the sun hide behind the peaks of the mountains in the south of Poland.<br><br>

                From the cities full of sightseeing wonders you can take a trip to breathtaking wild primeval forests with unique flora and fauna. In Poland, everybody will find something for themselves. Love windsurfing? Make sure you visit the Hel Peninsula. Are you into climbing? The Swietokrzyskie Mountains are waiting for you. You can also sail amidst the beautiful scenery of the Warmia and Masuria Regions or climb to the tops of the Tatra Mountains – the highest mountain range in Poland.<br><br>

                Poland is one of the fastest growing economies. It is the 6th largest economy in the EU and 21st in the world. Poland was the only EU member state that showed a positive GDP growth during the recent great economic crisis.<br><br>
              </p>
              <div class="right-icon">
                 <p>
                   <span class="fa">&#10004;</span>
                   <span class="txt">Curious about how it is to live in Poland? Read more in the Everyday life section.</span>                   
                 </p>
                 <p>
                   <span class="fa">&#10004;</span>
                   <span class="txt">Which festivals and concerts are taking place in Poland? Read more in Culture.</span>                   
                 </p>
                 <p>
                   <span class="fa">&#10004;</span>
                   <span class="txt">What are Polish cities like? Go to Cities to find out!</span>                   
                 </p>
                 <p>
                   <span class="fa">&#10004;</span>
                   <span class="txt">Traveling around Poland? Check our top destinations in Tourism.</span>                   
                 </p>
              </div>
        </div>
        
        <div class="col-sm-6 col-xs-12 right  wow fadeInRight"  style="margin-top: 20px">
            <div class="background-container-fluid">
              <div class="background-img">
                <div style="background: url(images/4.jpg) no-repeat"></div>
              </div>
            </div>  
            <div class="txt">
              <h3>
                  Student's talk: Yong Chung (Malaysia)
                </h3>
                 <p>
                  <i class="fa fa-quote-left"></i>
                    I didn’t know much about Poland before I came here. Now I have got a few Polish friends who are showing me the true Poland – fun, modern and adventurous. I ABB Group’s biggest asset is its young people! 
                  <i class="fa fa-quote-right"></i>
                 </p>
            </div>
        </div>
      </div>
    </div> 
  
     </div>
   </div>
</div>  
