
                <!-- Home -->
<div class="container-fluid">
  <div class="row" style="position: relative;">
         <!-- ==================left section ================= -->
                <!-- Home -->
    <div class="container-fluid" id="steps">
      <div class="row header">
         <div class="bg" style="background-image: url('images/5-steps-to-Poland.png');">
            <div class="grad">
               <h1 class="animated fadeInDown">5 Steps To Poland</h1>
            </div>
         </div>
      </div>
    </div>       
    <div class="container-fluid life">
      <div class="row">
        <div class="col-xs-12 left why-poland wow fadeInUp" style="margin: 0">
          <p>
                If you are thinking of studying in Poland but do not know how to go about that, please check the step-by-step guidelines presented below, which we have prepared with international students in mind. At the same time, please bear in mind that some of the sections are available only after logging in.<br><br>

                How to get admitted to a Polish University? It is easy! First of all you need to find out the general entry requirements. Then, once you have picked your course, you need to take into account the individual requirements of the particular school you are applying to. Some of them may ask you for a few additional documents on top of the general requirements.<br><br>

                Should you encounter any problems during any of the stages of the admission process, feel free to contact one of the ABB Group agents. We are here to help and guide you to make a right education choice. ABB Group will also help you with the organization of your trip and then offer you a helping hand during your total stay in Poland.<br><br>
              </p>
              <div class="right-icon">
                 <p>
                   <span class="fa">&#10004;</span>
                   <span class="txt">Step 1 - Pick your course</span>                   
                 </p>
                 <p>
                   <span class="fa">&#10004;</span>
                   <span class="txt">Step 2 - Check the conditions</span>                   
                 </p>
                 <p>
                   <span class="fa">&#10004;</span>
                   <span class="txt">Step 3 - Estimate your costs</span>                   
                 </p>
                 <p>
                   <span class="fa">&#10004;</span>
                   <span class="txt">Step 4 - Complete and confirm</span>                   
                 </p>
                 <p>
                   <span class="fa">&#10004;</span>
                   <span class="txt">Step 5 - Student Visa</span>                   
                 </p>
              </div>
            </div>
        </div>
      </div>
    </div> 
  
     </div>
   </div>
</div>  
