           <!-- Home -->
<div class="container-fluid">
  <div class="row" style="position: relative;">
         <!-- ==================left section ================= -->

                <!-- Home -->
    <div class="container-fluid"  id="study">
      <div class="row header">
         <div class="bg" style="background-image: url('images/study.png');">
            <div class="grad">
               <h1 class="animated fadeInUp">Study in Poland</h1>
            </div>
         </div>
      </div>
    </div>       
    <div class="container-fluid life">
      <div class="row">
        <div class="col-sm-6 col-xs-12 left why-poland wow fadeInLeft" style="margin: 0">
          <p>
                 Poland is a great country in which to study. Here, you will find a wide selection of courses you can take at low cost. Polish universities are eager to welcome foreign students, while Polish cities not only offer suitable conditions for studying but also boast plenty of attractions.<br><br>

                Polish education has a long and impressive academic tradition with its roots going back as far as the Middle Ages! Jagiellonian University in Kraków was founded in the 14th century and is one of the oldest universities in Europe. Today we are proud to offer education on a par with the European standards.<br><br>

                In almost every big city, there are public and private schools offering third level education. Course availability is rich and the schools are continuously expanding their offerings to suit the market demand. Polish diplomas are recognized in the European Union (EU) and worldwide, and in countries like the USA, Canada and Australia. Studying in Poland gives you a solid education and a better chance to find a good job in the EU and beyond!<br><br>

                The high quality of Polish education can be seen in the fact that many Polish scientists have built international careers. Did you know that the first full face transplant in the USA was done by a team of surgeons lead by a Polish doctor, Maria Siemionow who graduated from Poznan Medical Academy?<br><br>

                If you choose to study in Poland, you can apply for a Polish Government Scholarship. There are also a lot of other ways to lower the cost of your college fees.
              </p>
               <div class="right-icon">
                 <p>
                   <span class="fa">&#10004;</span>
                   <span class="txt">Are you interested in studying in Poland? Find out more about entry requirements.</span>                   
                 </p>
                 <p>
                   <span class="fa">&#10004;</span>
                   <span class="txt">University? Polytechnic? Academy? Find out more about different types of schools in Poland.</span>                   
                 </p>
                 <p>
                   <span class="fa">&#10004;</span>
                   <span class="txt">How to pay less? Find out more about scholarships for foreign students.</span>                   
                 </p>
                 <p>
                   <span class="fa">&#10004;</span>
                   <span class="txt">Studying Polish or other foreign languages? Find out more about language courses.</span>                   
                 </p>
              </div>
        </div>
        <div class="col-sm-6 col-xs-12 right  wow fadeInRight"  style="margin-top: 20px">
            <div class="background-container-fluid">
              <div class="background-img">
                <div style="background: url(images/1.jpg) no-repeat"></div>
              </div>
            </div>  
            <div class="txt">
               <h3>
                  Student's talk: Jhumpa Rushdie (India)
                </h3>
                 <p>
                  <i class="fa fa-quote-left"></i>
                   Studying in Poland is the biggest adventure of my life! I wanted to study in Europe but I didn’t know which country to pick. In the end through ABB Group I got in touch with a student from Hanoi studying in Poznan and he convinced me to try my luck in Poland. So far – so good!   
                  <i class="fa fa-quote-right"></i>
                 </p>
            </div>
        </div>
      </div>
    </div> 
  
     </div>
   </div>
</div>  
  
