
                <!-- Home -->
<div class="container-fluid">
  <div class="row" style="position: relative;">
         <!-- ==================left section ================= -->
                <!-- Home -->
    <div class="container-fluid" id="why">
      <div class="row header">
         <div class="bg" style="background-image: url('images/why.png');">
            <div class="grad">
               <h1 class="animated fadeInDown">Why Poland</h1>
            </div>
         </div>
      </div>
    </div>       
    <div class="container-fluid life">
      <div class="row">
        <div class="col-xs-12 left why-poland wow fadeInUp" style="margin: 0">
          <div class="right-icon">

         <p>
             <span class="fa">&#10004;</span>
             <span class="txt">Studying in Poland will give you a European degree at a low cost. Polish schools compete with each other not only to provide a wide variety of high quality courses, but also in offering attractive tuition fees. 
             </span>                   
           </p>
           <p>
             <span class="fa">&#10004;</span>
             <span class="txt">Polish schools are subject to the regulations of the Bologna Process that unifies education in the European Union and in program partnering countries. This means that your degree obtained in Poland is recognized internationally and opens doors to your further education in all the countries participating in the Bologna Process.
             </span>                   
           </p>
           <p>
             <span class="fa">&#10004;</span>
             <span class="txt">Choosing Poland as your study destination, you not only go for a broad selection of courses, majors and specializations but most importantly you get the opportunity to join the best! Polish Information Technology graduates are twice over world champions in group-programming. Our astronomers and chemists also belong to the world league.</span>                   
           </p>
            <p>
             <span class="fa">&#10004;</span>
             <span class="txt">Choosing Poland as your study destination, you not only go for a broad selection of courses, majors and specializations but most importantly you get the opportunity to join the best! Polish Information Technology graduates are twice over world champions in group-programming. Our astronomers and chemists also belong to the world league.</span>                   
           </p>
           <p>
             <span class="fa">&#10004;</span>
             <span class="txt">Poland is a European country, yet the living costs are still lower than anywhere else in Europe. This means lower tuition fees and cheaper student life! </span>                   
           </p>
           <p>
             <span class="fa">&#10004;</span>
             <span class="txt">Poland is a dynamic country. In the second half of 2011 Poland will take over the Presidency of the European Union. In the following year, it will host the European Football Championships, commonly referred to as Euro 2012. This will provide a boost to the Polish economy, attracting foreign investors and creating new employment opportunities.</span>                   
           </p>
           <p>
             <span class="fa">&#10004;</span>
             <span class="txt">Poland is a country where the cultures of East and West cross. On one day, in Podlasie Region, you can find the traces of the eastern cultures of the Tartars, Crimean Karaites, Russian Orthodox Old Believers, while on another you can enjoy western culture in the cities like Wroclaw or Krakow. </span>                   
           </p>
           <p>
             <span class="fa">&#10004;</span>
             <span class="txt">The geographical positioning of Poland makes it an interesting place for explorers. If you would like to combine your studies with traveling, Poland is a perfect home base for you! It takes only two hours by plane to visit Rome, Oslo, London or Moscow, and a bit longer to reach Paris or Athens. 
             </span>                   
           </p>
            <p>
             <span class="fa">&#10004;</span>
             <span class="txt">Poland is a safe country. We have one of the lowest crime rates in Europe. As in every place in the world, you need to use your common sense, yet you can be assured there are always municipal police and city guards to help you if need be. 
             </span>                   
           </p>
        </div>
      </div>
    </div> 
  
     </div>
   </div>
</div>

