
            <!-- Home -->
    <div class="container-fluid">
      <div class="row header"  id="work">
         <div class="bg" style="background-image: url('images/work.png');">
            <div class="grad">
               <h1 class="animated fadeInUp">Work in Poland</h1>
            </div>
         </div>
      </div>
    </div>       
    <div class="container-fluid life">
      <div class="row">
        <div class="col-sm-6 col-xs-12 left why-poland" style="margin: 0">
           <p class=" wow fadeInLeft">We have some good news for you! When you are studying in Poland, you can work at the same time! Not only will you be able to earn money for your daily expenditures but also you get a chance to get to know new people and learn more about the country. Students can usually find work as foreign language teachers, waiters/waitresses, bartenders, child minders, shop assistants or cleaners. For these occupations you would need a command of basic Polish. Don’t worry if you can’t speak any Polish yet – ABB Group will help you find a foundational Polish course that will increase your chances of finding work. Another option is seasonal work or, as already mentioned, cleaning. In these circumstances, you do not have to speak Polish. If you are looking for a job, check this website!<br><br>

              Being a student, you also have a chance to participate in free or paid work placements. Depending on your study’s specialization the ability to speak Polish may, or may not, be a requirement.<br><br>

              If you are from the EU or Norway, Iceland, Liechtenstein or Switzerland, you can make use of EURES services. EURES is the European Jobs Network of public employment services and their partners on the EU labour market. Its purpose is to provide job placement and information on living and working conditions in the EU member states; to support international and cross-border employment mobility.<br><br>

              Regardless of your country of origin, if you are looking for a job in Poland, we are here to help you. First you need to log in to become our user.</p>
               <div class="right-icon">
                 <p>
                   <span class="fa">&#10004;</span>
                   <span class="txt">You do not have to have a work permit in Poland! Find out why in the Work Permit section.</span>                   
                 </p>
                 <p>
                   <span class="fa">&#10004;</span>
                   <span class="txt">Will my work be taxed? Find out in Taxes section.</span>                   
                 </p>
                 <p>
                   <span class="fa">&#10004;</span>
                   <span class="txt">Would you like to know more about job offers in Poland? Read more in Offers.</span>                   
                 </p>
              </div>
        </div>
        <div class="col-sm-6 col-xs-12 right  wow fadeInRight"  style="margin-top: 20px">
            <div class="background-container-fluid">
              <div class="background-img">
                <div style="background: url(images/3jpg.jpg) no-repeat"></div>
              </div>
            </div>  
            <div class="txt">
               <h3>
                  Student's talk: Anna Pavlova (Ukraine)
                </h3>
                 <p>
                  <i class="fa fa-quote-left"></i>
                    I was happy to find out that on a student visa I can also work and save money for my summer vacation. There is no official limit on the working hours which is fantastic! Now I am looking forward to my summer holidays exploring other European countries.   
                  <i class="fa fa-quote-right"></i>
                 </p>
            </div>
        </div>
      </div>
    </div> 
  
     </div>
   </div>
</div>  
  
